 html {
  scroll-behavior: smooth;
 }
 body {
  font-family: 'Sawarabi Gothic', sans-serif;
   padding:20px;
  color: #1E2939;
 
 }
 @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
 .white, #white {
  color:white;
}
.bold {
  font-weight:bold;
}

 h1,h2,h4{
   font-weight:normal
 }
 .pic {
   border:2px solid whitesmoke;
   width:100%;
   height:100%;

 }
 a:hover, .home a:hover {
   color:#CAA8C7;
 }
 .whiteButton {
 
   color:#333;
   background-color: whitesmoke;
 }
 .cursor {
   cursor: pointer;
 }
 
 .blueButton:hover {
  color:#333;
 
 }
 .borderRadius {
   border-radius:3px;
 }
 .gap {
  grid-gap:10px;
 }
 .left {
   margin-left:5px;
 }
 .lineHeight {
   line-height: 1px;
 }
 .flex {
   grid-gap:10px;
   align-items: center;
   display:flex;
   flex-wrap:wrap;
 }
 .firstPanel {
  box-shadow: 2px 4px 22px rgba(0, 0, 0, .2);
   font-size:1.2em;
   height:90%;
 margin-left:52%;
 background-color:rgba(211, 208, 208, 0.221);
 padding:30px;
 padding-left:50px;
 border-radius:10px;
 overflow: auto;
  
 
 }
 .firstPanel:hover {
   transform: rotate(20deg);
 }
  
 button:hover {
  transform: translate3D(0, -2px, 0);
   border: 1px solid transparent;
 background-color: #5964E0;
 color:white;
 }
.active, .darkButton{
  background-color: #5964E0;
   color:white;
 }
 .lightPurple {
   color: #939BF4;
 }
 .darkButton:hover {
  color: #5964E0;
  background-color:white;
 }
 .secondary   {
   border: 1px solid #68d388;
   background-color:#68d388;
   color:white;
 }
 .secondary:hover {
   background-color: lightgrey;
   border:1px solid transparent;
   color:darkgrey;
 }
 .home {
  font-family: 'Sawarabi Gothic', sans-serif;
  height: 100vh;
  background-image: url("https://i.imgur.com/P77Lkbg.gif");
  border-radius:10px; 
  background-size: cover;
  padding:30px;
  background-repeat: no-repeat;
  color:#333;
 
 }
 button {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
   background-color:#939BF4;
   color:white;
   font-weight: bold;
   outline:none;
   padding:10px;
   border:1px solid transparent;
   border-radius:5px;
   cursor: pointer;
   margin-left:10px;
   transition: all .3s ease-in-out;
 }
 
 .card {
   /* background-image: url ("https://i.imgur.com/P77Lkbg.gif"); */
   background-color: rgba(255, 255, 255, 0.5);
   background-size: cover;
   padding: 30px;
   background-repeat: no-repeat;
   margin-top: 30px;
   color: rgb(26, 25, 25);
   border-radius:5px;
   width:50%;
   margin-left:22%;
   box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
 }
 .card h3 {
   font-weight: lighter;
   color:rgb(219, 233, 245);
 }
a {
  color:#CAA8C7;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.navList {
  transition: all 0.5s ease-in-out;
}
 
.home a, a:hover , .navList:hover{
  color: #9599E2;
  transform: scale(1.05);
  transform: translate3D(0, -2px, 0);

 
}
 .links {
   display:flex;
   grid-gap:20px;
 }
 .desc p {
 width:80%;
 }
 .smallTxt{ 
   font-size:14px;
 }
 .projects {
   margin-left:52%;
   padding:10px;
   background-color:rgba(247, 181, 181, 0.2);
 
   border-radius:10px;
   font-weight:bold;
 }
 .projDesc {
   width:40%;
 }
 .projectList ul {
  transition: all 0.5s ease-in-out;
   margin-left:30px;
   list-style-type:circle;
 }
 .projectList ul li {
   margin-bottom:5px;
 }
 .projectList a {
   color:palevioletred;
 }
 
 .header {
   color: #CAA8C7;
   display:flex;
   align-items: baseline;
   margin-top:-10px;
   margin-bottom:10px;
 }
 nav {
  transition: all 0.5s ease-in-out;
   cursor: pointer;
 }
 .header a {
  color: #CAA8C7;
 }
 .projectList ul li:hover {
  transform: scale(1.5);
  transform: translate3D(0, -2px, 0);
  transition: all 0.5s ease-in-out;
 }
 .header a:hover, .nav ul li:hover,.arrow:hover{
   color:#9599E2;
   transform: scale(1.05);
   transform: translate3D(0, -2px, 0);
   transition: all 0.5s ease-in-out;
 }
 .icons {
   font-size:1.5em;
    width:200px;
    justify-content: space-around;
 }
 .icons p {
   margin-right:10px;
 }
 .nav ul {
  display:flex;
   height:10px;
   cursor:pointer;
   list-style-type: none;
 }
 .nav ul li {
   margin-right:10px;
 }
 .textCenter {
   text-align: center;
 }
 .error {
   color:#333;
   border-radius:5px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
   font-size:.8em;
   padding:30px;
  text-align: center;
  height: 50vw;
   background-image: url("https://i.imgur.com/FujY37n.gif");
   background-repeat: no-repeat;
   background-size:cover;
 }

 .error li {
   list-style-type:none;
 }
 .error h1 {
   font-weight:bold;
   color:#ff8080;
 }
 .dark {
   color: #333;
 }
 .blog {
   justify-content: center;
   border-radius:5px;
   padding:20px;
   background-image: url("https://cdn.discordapp.com/attachments/701277128951595030/765291419753512970/yousef-espanioly-QZVTdOfYCHc-unsplash.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   /* background-color: #D9AFD9;
   background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
   
   
 }
  .day2 { 
    color:whitesmoke;
    height:100vw;
    padding:30px;
    border-radius:30px;
    /* background-color:rgba(247, 181, 181, 0.2); */
    background-image: url("https://i.gifer.com/guk.gif");
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  }
  .day2 h1 {
    color:whitesmoke;
  }
  .day4 {
    padding:30px;
    text-align:center;
  }
  canvas {
    border-radius: 4px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  }
  .day6 { 
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    background:aliceblue;
    padding:30px;
    border-radius:8px;
  }
  
  .titleImg {
    max-width: 266px;
    max-height: 134px;
    height: 30%;
    width: 30%;
  }
  .loadImg {
    text-align:center;
  }
  .trueBorder {
    border:1px solid white;
 
  }
  .falseBorder {
    border:1px solid transparent;
  }
  .twoGrid {
    padding-left:20px;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
  }
  .threeGrid {
    justify-items: center;
    margin-top:200px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:80px;
    grid-row-gap:70px;
 
  }
 
  .titlePicture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trueVisible {
    visibility: visible;
  }
  .falseVisible {
    visibility: hidden;
  }
  .trueForm {
    visibility: visible;
  }
  .falseForm {
    display:none;
  }
  form {
    color: #555;
    display: flex;
    font-size:1.2em;
  }
  
  .day4 button {
    margin-top:10px;
    padding:10px;
  }
  .day4 textarea {
    outline: none;
    padding: 10px;
    margin: 0px;
    width: 360px;
    height: 86px;
    resize: none;
    border-radius: 10px;
    border: 1px solid gainsboro;
    height: 150px;
 
  }
  .day4 p {
    font-family: 'Times New Roman', Times, serif;
  }
  textarea {
    color:#333;
    font-size:1.5em;
    font-family: sans-serif;
 
    background-color:whitesmoke;
  }
  .form {

    width:35%;
    position:relative;
    margin-top:10px;
    text-align: left;
    flex-direction: column;;
    font-size:12px;
    border-radius: 4px;
    padding:30px;
    background-color:whitesmoke;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  }
 
  .plantCard {
    
    color:#333;
    box-shadow: 5px 10px 20px #d6d6d6 ;
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 4px;
  }
  .plantCard h3,img {
    text-align:center
  }
  nav {
    width:100%;
    display:flex;
    list-style-type: none;
  }
  nav li {
    margin-left:20px;
  }
  
  .form button, .blueButton {
    font-size:1.1em;
    color:white;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    
  }
  input {
    margin-left:5px;
    margin-right:5px;
    background-color: #f2f2f2;
    color:#333;
    font-size:1.3em;
    border: 1px solid transparent;
    border-bottom: 1px solid lightgrey;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
  }

  label {
    padding:10px;
    color: #9599E2;
  } 
  .form input {
    
    width:70%;
    padding:10px;
    border-radius:5px;
  }
  .form textarea {
    background-color: whitesmoke;
    outline:none;
    resize:none;
    height:100px;
    padding:10px;
    border: 1px solid transparent;
    border-bottom: 1px solid lightgrey;
    border-radius:5px;
  }
 .footer {
   font-style: italic;
   text-align: right;
 }
 .feedback {
   border-radius:5px;
   height:100vh;
   background-color: #8EC5FC;
   background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
   
  
 }
 .feedbackFooter p {
   margin:0px;
   cursor: pointer;
 
 }
 .clear {
   background-color:#B3D4F3;
   color:white;
 }
 .buttons {
  justify-content: center;
  display: flex;
 }
 .day5 {
   padding:30px;
 }
 .day5 h3 {
   font-size:18px;
   width:50%;
 }
 .medImg {
   width:100px;
   height:100px;
   object-fit: cover;
   border-radius:10px;
 }

 .innerPlantCard {
  height: 90%;
  border-radius: 4px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }
 /* -----------------------------------Day 7-------------------------------  */
 .grid {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  width: 200;
  display: grid;
  grid-gap: 0;
  cursor: crosshair;
 }
 .medSq {
  border-radius: 0px;
  width:20px;
  height:20px;
}
.smSq {
  border-radius: 0px;
  width:9px;
  height:9px;
}
.alignInMiddle {
  display: flex;
    justify-content: center;
    align-items: center;
}
.square {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  cursor:pointer;
  width: 40px;
  height:40px;
  border-radius:5px;
  margin: 5px; 
  background-color: whitesmoke;
}
.lgSq {
  border-radius: 0px;
  width:42px;
  height:42px;
}
.oneGrid {
  grid-gap:10px;
  display: flex;
  flex-direction: column;
}
.smallImgDiv {
  margin-left:10px;
  background-size:cover;
  width:100px;
  height:100px;
}
.titlePicture  {
  color: #333;
}
.day7 {
  height:90vh;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  color:#555;
  overflow:auto;
 background-image: url('https://i.pinimg.com/originals/36/85/08/3685088f9111d12a0549c04b082e717a.gif');
  padding:10px;
  border-radius: 4px;
  background-size:cover;
  background-color: whitesmoke;
}
.day7 h4 {
  margin:0px;
}
.block {
  height:100%;
  border-radius:5px;
  width:100%;
  display:block;
  background-color: rgba(255, 255, 255, 0.6);
}
.trueShow {
  visibility: visible;
}
.falseShow {
  visibility: hidden;
}
/* -----------------------------------Day 8-------------------------------  */
.between {
  display:flex;
  justify-content: space-between;
}
.center {
  align-items: center;
  display:flex;
  justify-content: center;
}
.flexDirection {
  flex-direction: column;
}
.width {
  width:100%;
}
.day8 {
  height:86vh;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  transition: all 0.5s ease-in-out;
  padding:20px;
  background-color:lightgrey;
  border-radius:5px;
}
.day8 textarea {
  resize: none;
  border:none;
  outline:none;
  border-radius:5px; 
  width:80%;
  height:300px; 
  padding:30px; 
  font-size:1.5em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: lightgrey;
}

.petals {
  width:100%; 
  height:100%;
  position:fixed;
}
.down {
  margin-top:20px;
}

.day9 {

padding-left:30px;
}
.icon,#icon{
  cursor: pointer;
}
#icon,#outerHeart {
  color:lightgrey;
}
 
.red {
  color:#ff8080;
}
#nav li:hover {
  border-bottom: 2px solid pink;
}
#outerHeart:hover, #icon:hover {
  color:#ff8080;
}
.inktoberCard {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  background-color: white;
  position:relative;
  border: 1px solid lavender;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.transition {
  transition: all .5s ease-in-out;
}
.inktoberCard:hover{
transform: scale(.97);
cursor:pointer;
 
}
.light {
  color: #333;
  background: rgba(	244, 246, 248, 0.9);
}
.dark {
  color:whitesmoke;
  background: rgba(41, 41, 41, 0.9);
}
.square:hover {
  transform: scale(1.1);
   
  transition: all 0.2s ease-in-out;
}
.hover {
  
  transition: all 0.2s ease-in-out;
}
.hover:hover { 
  transform: translate3D(0, -5px, 0);
}
.padding {
  padding:10px;
}
 
.up {
  margin-top:-20px;
}
.upLess {
  margin-top:-10px;
}
.day9 input {
  color:#333;
  font-size:1.2em;
}
.day9 :placeholder-shown {
  font-size:1.2em;
}

.day10 {
  position:relative;
  width:500px;
  height:600px;
  overflow:auto;
 
}
 
.day3 {
  color:#666;
  border-radius:8px;
  opacity:0.8;
  transition: 1s;
  height:100vh;
  background-image: url("https://img.freepik.com/free-photo/background-crumpled-paper-sheet_1194-7545.jpg?size=626&ext=jpg");
  background-repeat:none;
  background-size: cover;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
 
}
.biggrid {
 
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
   margin-top: 50px;
 
}
 
.day11 {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  border-radius:8px;
  height:87vh;
  background-image: url("https://i.pinimg.com/originals/41/72/ab/4172ab9e2a618a5f12d1c30a3e709d6e.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #E4E8FF;
  padding:20px;
 
}
.purple{
  font-weight:bold;
  color:  #5964E0;
}
.grey {
  color: #bbc;
}
.lightDark {
  color: #777;
}
.rightarrow {
   position:absolute;
    top:300px;
    right: 70px;
}
.bigger {
  font-size: 1.5em;
}
.big {
  font-size:1.2em;
}
.left {
  margin-left:5px;
}
.leftarrow {
  position:absolute;
  top:300px;
  left: 70px;
}
.spoiler span {
  transition:  all 0.5s ease-in-out; 
  visibility: hidden;
}
.spoiler:hover span {
  visibility: visible;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
  animation-duration: .5s;
 
}
.centerFlexCol {
  height:100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.darkContainer {
  padding: 20px 50px;
  border-radius: 5px;
  background-color: #19202D;
}
.lightContainer {
  padding: 20px 50px;
  border-radius: 5px;
  background-color: white;
}
.midwidth {
  width:80%;
}
.spaceBetween {
  justify-content: space-between;
}
.day16 {
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
  transition: all 1s;
  height:1000vh;
  border-radius:6px;
  padding:30px;
}
.day16 h1 {
  font-size:1.5em;
}


.day16 input {
  text-align:center;
}
.darkCard {

  box-shadow: 2px 4px 25px rgba(250, 250, 250, 0.2);
}
.lightCard {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.2);
}
.day16light {
  background-color: #F2F2F2;
  
}
.trueBar, .trueBar {
  color:#19202D;
  background-color:rgba(255, 255, 255, 0.9);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
}

.falseBar {
  color:white;
  background-color:rgb(25, 32, 45,.9);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
}
.searchBar input {
border:none;
  background-color:transparent;
}
.searchBar {
  padding: 5px 30px;
  height: 80px;
  border-radius: 5px;
}
.borderHeader {
  height:160px;
  width:100%;
  position: absolute;
  top: 0;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  line-height: 8;
  border-bottom-left-radius: 60%;
  border-top-left-radius: 5px;
 
}
.day16dark{
  background-color: #121721;
  color:#5964E0;
}
.day16dark input {
  color:white;
  background-color: transparent;
}

.lightgrey {
  color: #6E8098;
}
 
.darkgrey {
  font-weight:bold;
 
}
.flexTitle {
  width: 150px;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.bigDiv {
    border-radius: 8px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,.5);
    position: fixed;
     top: 0;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .5);
}
.middleDiv {
  font-size: 1.2em;
  position: relative;
  padding: 30px;
  border-radius: 5px;
  width: 70%;
  height: 87%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
 
 
.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   5px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           5px;  

 
}
.photos img {
  /* Just in case there are inline attributes */
 
  margin-bottom:2px;
  width: 100% !important;
  height: auto !important;
}
 
@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  .rightarrow {
    top: 60px;
    right: 120px;
  }
  .leftarrow {
    display:none;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width:1060px) {
  .biggrid {
    display:flex;
    flex-wrap: wrap;
  }
.day11 {
  height:120vh;
}
}
@media (max-width:1130px) {
  .firstPanel {
    margin-left:0px;
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
  }
  .projectList li {
    color:#333;
  }
  .projectList a {
    color:lavender;
  }
  .home {
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  }
 
  .home h1 {
    color:#666;
  }
}
.caption {
  margin-top:50px;
  text-align: right;
  font-style: italic;
}