 body {
  padding:30px;
  color: #1E2939;
  font-size:.8em;
 }
 .pic {
   border:2px solid whitesmoke;
   width:100%;
   height:100%;

 }
 a:hover, .home a:hover {
   color:#CAA8C7;
 }
 .whiteButton {
   color:#333;
   background-color: whitesmoke;
 }
 .flex {
   display:flex;
 }
 .firstPanel {
 margin-left:52%;
 background-color:rgba(247, 181, 181, 0.2);
 padding:30px;
 padding-left:50px;
 border-radius:10px;
 overflow: auto;
 }
 button:hover, .active{
   border: 1px solid transparent;
 background-color: #B3D4F3;
 color:white;
 }
.active {
  background-color: #84bdf3;
   color:white;
 }
 .secondary   {
   border: 1px solid #68d388;
   background-color:#68d388;
   color:white;
 }
 .secondary:hover {
   background-color: lightgrey;
   border:1px solid transparent;
   color:darkgrey;
 }
 .home {
  background-image: url("https://i.imgur.com/P77Lkbg.gif");
  border-radius:10px; 
  background-size: cover;
  padding:30px;
  background-repeat: no-repeat;
  color:#333;
 
 }
 button {
  box-shadow: 1px 1px 5px #d6d6d6;
   border: 2px solid white;
   background-color:white;
   color:#B3D4F3;
   font-weight: bold;
   outline:none;
   padding:15px;
   border:1px solid #B3D4F3;
   border-radius:5px;
   cursor: pointer;
   margin-left:10px;
 }
 
 .card {
   /* background-image: url ("https://i.imgur.com/P77Lkbg.gif"); */

   border-radius:10px; 
  background-size: cover;
  padding:30px;
  background-repeat: no-repeat;
  color:black;
  margin-top:30px;
 }
a {
  color:#CAA8C7;
  text-decoration: none;
}
.home a, a:hover {
  color:#528FBB;
}
 .links {
   display:flex;
   grid-gap:20px;
 }
 .desc p {
 width:80%;
 }
 .smallTxt{ 
   font-size:14px;
 }
 .projects {
   margin-left:52%;
   padding:10px;
   background-color:rgba(247, 181, 181, 0.2);
 
   border-radius:10px;
   font-weight:bold;
 }
 .projDesc {
   width:40%;
 }
 .projectList ul {
   margin-left:30px;
   list-style-type:circle;
 }
 .center {
   text-align: center;
 }
 .header {
   color: #CAA8C7;
   display:flex;
   align-items: baseline;
   margin-top:-10px;
   margin-bottom:10px;
 }
 .header a {
  color: #CAA8C7;
 }
 .header a:hover, .nav ul li:hover {
   color:#528FBB;
 }
 .nav ul {
  display:flex;
   grid-gap:10px;
   height:10px;
   cursor:pointer;
   list-style-type: none;
 }
 .error {
   font-size:.8em;
   padding:30px;
  text-align: center;
  height: 50vw;
   background-image: url("https://i.imgur.com/FujY37n.gif");
   background-repeat: no-repeat;
   background-size:cover;
 }
 .error li {
   list-style-type:none;
 }
 .error h1 {
   color:palevioletred;
 }
 
  .day2 { 
    color:whitesmoke;
    height:100vw;
    padding:30px;
    border-radius:30px;
    /* background-color:rgba(247, 181, 181, 0.2); */
    background-image: url("https://i.gifer.com/guk.gif");
  }
  .day4 {
    padding:30px;
    text-align:center;
  }
  canvas {
    border-radius: 4px;
    box-shadow: 5px 10px 20px #ccc9c9 ;
  }
  .day6 { 
    background:aliceblue;
    padding:30px;
    border-radius:8px;
  }
  .smallTxt{
    font-size:14px;
    font-weight:bold;
    color:palevioletred;
  }
  .titleImg {
    max-width: 266px;
    max-height: 134px;
    height: 30%;
    width: 30%;
  }
  .loadImg {
    text-align:center;
  }
  .trueBorder {
    border:1px solid white;
 
  }
  .falseBorder {
    border:1px solid transparent;
  }
  .twoGrid {
    grid-gap:20px;
    padding:0px 30px;
    display:flex;
    flex-wrap: wrap;
  }


  .titlePicture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trueForm {
    visibility: visible;
  }
  .falseForm {
    display:none;
  }
  form {
    display: flex;
 
  }
  
  .day4 button {
    margin-top:10px;
    padding:10px;
  }
  .day4 textarea {
    padding: 10px;
    margin: 0px;
    width: 360px;
    height: 86px;
  }
  .day4 p {
    font-family: 'Times New Roman', Times, serif;
  }
  .form {
    position:relative;
    margin-top:10px;
    text-align: left;
    flex-direction: column;;
    font-size:14px;
    border-radius: 4px;
    padding:30px;
    background-color:moccasin;
    box-shadow: 5px 5px rgba(177, 174, 174, 0.2);
  }
  .plantCard {
    box-shadow: 5px 10px 20px #d6d6d6 ;
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 4px;
  }
  .plantCard h3,img {
    text-align:center
  }
  nav {
    display:flex;
    list-style-type: none;
  }
  nav li {
    margin-left:20px;
  }
  .form label {
    font-weight: bold;
  }
  .form button {
    width:30%;
    padding:10px;
  }
  .form input {
    width:70%;
    padding:10px;
    border:none;
    border-radius:5px;
  }
  .form textarea {
    padding:20px;
    border:none;
    border-radius:5px;
  }
 .footer {
   font-style: italic;
   text-align: right;
 }
 .feedbackFooter {
 }
 .feedbackFooter p {
   margin:0px;
   cursor: pointer;
 
 }
 .clear {
   background-color:#B3D4F3;
   color:white;
 }
 .buttons {
  justify-content: center;
  display: flex;
 }
 .day5 {
   padding:30px;
 }
 .day5 h3 {
   font-size:18px;
   width:50%;
 }
 .medImg {
   width:100px;
   height:100px;
   object-fit: cover;
   border-radius:10px;
 }

 .innerPlantCard {
  height: 90%;
  border-radius: 4px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }
 /* -----------------------------------Day 7-------------------------------  */
 .grid {
  width: 200;
  display: grid;
  grid-gap: 0;
  cursor: crosshair;
 }
 .medSq {
  border-radius: 0px;
  width:20px;
  height:20px;
}
.smSq {
  border-radius: 0px;
  width:9px;
  height:9px;
}
.alignInMiddle {
  display: flex;
    justify-content: center;
    align-items: center;
}
.square {
  box-shadow: 1px 1px 1px #d6d6d6 ;
  cursor:pointer;
  border: 1px solid #ddd;
  width: 50px;
  height:50px;
  border-radius:5px;
  margin: 5px; 
  background-color: whitesmoke;
}
.lgSq {
  border-radius: 0px;
  width:42px;
  height:42px;
}
.oneGrid {
  grid-gap:10px;
  display: flex;
  flex-direction: column;
}
.smallImgDiv {
  background-size:cover;
  width:100px;
  height:100px;
}

.day7 {
  overflow:auto;
 background-image: url('https://i.pinimg.com/originals/36/85/08/3685088f9111d12a0549c04b082e717a.gif');
  padding:10px;
  border-radius: 4px;
  background-size:cover;
  background-color: whitesmoke;
}
.block {
  border-radius:5px;
  width:100%;
  display:block;
  background-color: rgba(255, 255, 255, 0.6);
}